@keyframes camb{
	from{
		color: #BFD6E9;

	}
	to{
		color: #F8F8F9;
	}
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;

}
body.custom-background{
	background: -moz-radial-gradient(80% 50%, #00ced1, #fff); 
	background: -webkit-radial-gradient(50% 50%, #00ced1, #fff); 
	background: -o-radial-gradient(50% 80%, #00ced1, #fff); 
	background: -ms-radial-gradient(50% 50%, #00ced1, #fff); 
	background: radial-gradient(50% 50%, #00ced1, #fff);
}
h1>img{
	padding-top: 10px;
	size: 100px;
	width:30; 
	height:20;
}
h1{
	font-size: 80px;
	padding: 40px;
	padding-top: 10px;
	text-align: center ;
	animation-name: camb;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	color: #BFD6E9;
	font-family: 'Open Sans';
}
body{
	background: #10263B;
}
.Navegacion{

	width: 1300px;
	margin: 80px auto;
	background: #fff;

}
.Navegacion ul{
	list-style: none;

}
.menu > li{
	position: relative;
	display: inline-block;
}
.menu >li >a{

	display: block;
	padding: 15px 70px;
	color: #0D1620;
	font-family :'Times New Roman';
	text-decoration: none;
	
}
.menu li a:hover{
	color: #6D4C44;
	/*transition: all .4s;*/
}



/*intento de menu desplegable*/
.submenu{
	position: absolute;
	background: #BF8475;
	width: 100%;
	display: none;
}
.submenu li a{
	display: block;
	padding: 15px;
	color: black;
	font-family :'Times New Roman';
	text-decoration: none;  
}
.menu li:hover .submenu{
	display: block;
}






.submenu2{
	position: absolute;
	background: #BF8475;
	width: 100%;
	display: none;
}
.submenu2 li a{
	display: block;
	padding: 15px;
	color: black;
	font-family :'Times New Roman';
	text-decoration: none;  
}
.menu li:hover .submenu2{
	display: block;
}
